<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input [(ngModel)]="Username" type="text" placeholder="Username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input [(ngModel)]="Password" type="text" placeholder="Password"></ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="block">Login</ion-button>
    </ion-toolbar>
  </ion-header>
</ion-content>
